@import 'variables';
@import './helpers/typography';
@import 'node_modules/angular2-toaster/src/toaster';
body {
    background-color: #FCFCFC;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
}

.container {
    display: block;
}

.error {
    color: red;
    font-style: italic;
    font-size: 90% !important;
}

ul {
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color: white;
    li {
        a {
            display: block;
            padding: 10px 20px;
            &:hover {
                background-color: #A0A2A4;
            }
        }
    }
}

.content {
    display: inline-block;
    width: calc(100vw - 250px);
    height: 100vh;
    vertical-align: top;
    background: url('./../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

// font-family: 'Playfair Display', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Aguafina Script', cursive;