@import 'variables';
@import './helpers/typography';
body {
    background-color: #F8F8F8;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}

.error {
    color: red;
    font-style: italic;
    font-size: 90% !important;
}