header {
    display: inline-block;
    max-width: 250px;
    min-width: 250px;
    height: 100vh;
    background-color: #0B5996;
    box-shadow: 1px 1px 10px 0px #efd2cb;
}

.logo {
    display: block;
    margin: 10px auto;
    background-image: url(../../../assets/logo.png);
    background-size: cover;
    width: 220px;
    height: 95px;
}