.toaster {
    display: none;
    position: fixed;
    top: 10px;
    right: 20px;
    padding: 10px;
    background-color: grey;
    box-shadow: 1px 1px 10px black;
    border-radius: 4px;
    color: white;
}