<div class="container">
    <app-headerpublic></app-headerpublic>
    <div class="content">
        <h1> Rsvp </h1>
        <table>
            <thead>
                <tr>
                    <th width="200">Name</th>
                    <th width="150">Status</th>
                    <th width="150">Attending</th>
                    <th width="150">Not Attending</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Brian Ruchiadi</td>
                    <td class="text-center"><label class="attending">Attending</label></td>
                    <td class="text-center"><button class="attending disabled">Attending</button></td>
                    <td class="text-center"><button class="not-attending">Not Attending</button></td>
                </tr>
                <tr>
                    <td>Alex</td>
                    <td class="text-center"><label class="attending">Attending</label></td>
                    <td class="text-center"><button class="attending disabled">Attending</button></td>
                    <td class="text-center"><button class="not-attending">Not Attending</button></td>
                </tr>
                <tr>
                    <td>James</td>
                    <td class="text-center"><label class="not-attending">Not Attending</label></td>
                    <td class="text-center"><button class="attending">Attending</button></td>
                    <td class="text-center"><button class="not-attending disabled">Not Attending</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>